---
import TitleSections from '../ui/TitleSection.astro';
const titleSection = 'НАТИВНЫЙ HTML+CSS3+JS';
const subTitleSection = 'Преимущества использования нативного HTML+CSS3+JS перед конструкторами сайтов. ';
import Card from '../ui/Card.astro';

// Данные для карточек
const cardsData = [
  {
    cardTitle: 'Гибкость и контроль',
    cardIcon: '_icon-equalizer2', // Название иконки из IcoMoon
    cardContent:
      'Используя нативные языки HTML, CSS3 и JS, разработчики имеют полный контроль над созданием и визуальным оформлением сайта. Они могут свободно манипулировать элементами, стилями и поведением сайта, чтобы точно соответствовать требованиям проекта.',
  },
  {
    cardTitle: 'Производительность',
    cardIcon: '_icon-stats-dots',
    cardContent:
      'Нативный код обычно работает быстрее, чем код, созданный с использованием конструкторов сайтов. Это связано с тем, что нативный код оптимизирован для работы в браузере и может быть более эффективным в использовании ресурсов.',
  },
  {
    cardTitle: 'Изменяемость и настраиваимость',
    cardIcon: '_icon-shuffle',
    cardContent:
      'Нативный код позволяет разработчикам использовать различные библиотеки, фреймворки и инструменты по своему выбору. Это дает большую свободу в выборе и настройке инструментов, которые лучше всего подходят для конкретного проекта.',
  },
  {
    cardTitle: 'Seo-оптимизация',
    cardIcon: '_icon-magic-wand',
    cardContent:
      'Нативный код обеспечивает лучшую SEO-оптимизацию, так как поисковые системы лучше понимают и индексируют контент, созданный с использованием нативных языков. Это может помочь улучшить видимость сайта в поисковых результатах.',
  },
  {
    cardTitle: 'Более гибкий и масштабируемый код',
    cardIcon: '_icon-tree',
    cardContent:
      'Нативный код позволяет разработчикам создавать более гибкий и масштабируемый код. Они могут легко добавлять новые функции, изменять поведение и адаптировать сайт под различные устройства и платформы.',
  },
  {
    cardTitle: 'В заключении',
    cardIcon: '_icon-flag',
    cardContent:
      'Хотя конструкторы сайтов могут быть полезными для быстрого создания простых сайтов без необходимости в глубоких знаниях программирования, использование нативного HTML+CSS3+JS предоставляет больше возможностей для создания уникальных, гибких и производительных веб-сайтов.',
  },
];
---

<div class="advantages">
  <div class="advantages">
    <div class="advantages__container">
      <TitleSections titleSection={titleSection} subTitleSection={subTitleSection} />
      <div class="advantages__card-wrap">
        {cardsData.map((card, index) => <Card key={`advantage-${index}`} cardTitle={card.cardTitle} cardIcon={card.cardIcon} cardContent={card.cardContent} />)}
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .advantages {
    &__container {
    }

    &__card-wrap {
      display: flex;
      flex-direction: column;
      gap: var(--space-xl);
    }
  }
</style>
